.main-box-area{
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 10%;
    padding-bottom: 15%;
}
.main-box-area-left{
    height: 100%;
    width: 50%;
    display: flex;
    flex-direction: column;
    color: black;
}
.main-box-area-left-content{
    width: 75%;
    height: 100%;
    color: rgb(154 154 154);
    font-size: 20px;
    font-weight: 600;

}
.main-box-content-right{
    position: absolute;
    /* top: 40%; */
    right: 0;
    
    width: 50%;
    height: 100%;
    /* background-color: var(--title-color); */
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 0 5rem;
}
.main-box-area-left-content-heading{
    font-size: 40px;
    font-weight: 600;
    margin-bottom: 1rem;
    color: white;
}