.container-fluid{
  background-image: linear-gradient(90deg, rgba(7,3,88,1) 50%, rgba(0,117,255,1) 100%);
    padding: 10px;
    font-size: 20px;
    text-align: center;
    padding-left: 3%;
    padding-right: 3%;
    padding-right: 3%;
}

.toggle-button{
    background-color: var(--title-color);
    color: var(--body-color);
    border: none;
    padding: 0.5rem 1rem;
    border-radius: 0.5rem;
    font-size: 1rem;
    font-weight: 500;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
  }

  .navbar{
    padding: 0%;
    transition: background-color .2s;
    position: fixed;
    left: 0;
    right: 0;
    padding-left: 1rem!important;
    padding-right: 1rem!important;
    z-index: 1030;
  }
