.container-fluid{
  background-color: transparent;
    padding: 10px;
    font-size: 20px;
    text-align: center;
    padding-left: 3%;
    padding-right: 3%;
    padding-right: 3%;
}

.toggle-button{
    border: none;
    padding: 0.5rem 1rem;
    border-radius: 0.5rem;
    font-size: 1rem;
    font-weight: 500;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
  }

  .navbar{
    padding: 0%;
    transition: background-color .2s;
    position: relative;
    left: 0;
    right: 0;
    padding-left: 1rem!important;
    padding-right: 1rem!important;
    z-index: 1030;
    transition: padding-top .3s,padding-bottom .3s;
    
  }
  .image-logo-header{
    height: 45px;
    border-radius: 30px;
    box-shadow: 0px 0px 15px lightblue;
  }
  .nav-link{
    color: var(--adrakcolor);
  }
  
  .nav-link:hover{
    color: rgb(55, 130, 197);
  }


  /* For screen size more than 400px */
@media screen and (max-width: 780px) {
  .image-logo-header{
    height: 45px;
    border-radius: 30px;
    box-shadow: 0px 0px 15px lightblue;
  }
  .toggle-button{
    position: relative;
  }
}










.dark_mode {
  margin-top: -30px;
  margin-left: 10px;
}

.dark_mode_label {
  width: 65px;
  height: 30px;
  position: relative;
  display: block;
  background: #ebebeb;
  border-radius: 200px;
  box-shadow: inset 0px 5px 15px rgba(0, 0, 0, 0.4),
      inset 0px -5px 15px rgba(255, 255, 255, 0.4);
  cursor: pointer;
  transition: 0.3s;
}
.dark_mode_label:after {
  content: "";
  width: 25px;
  height: 25px;
  position: absolute;
  top: 3px;
  left: 3px;
  background: linear-gradient(180deg, #ffcc89, #d8860b);
  border-radius: 180px;
  box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.2);
  transition: 0.3s;
}
.dark_mode_input {
  width: 0;
  height: 0;
  visibility: hidden;
}
.dark_mode_input:checked + .dark_mode_label {
  background: #242424;
}
.dark_mode_input:checked + .dark_mode_label:after {
  left: 62px;
  transform: translateX(-100%);
  background: linear-gradient(180deg, #777, #3a3a3a);
}
.dark_mode_label:active:after {
  width: 30px;
}

.dark_mode_label svg {
  position: absolute;
  width: 20px;
  top: 5px;
  z-index: 100;
}
.dark_mode_label svg.sun {
  left: 5px;
  fill: #fff;
  transition: 0.3s;
}
.dark_mode_label svg.moon {
  left: 40px;
  fill: #7e7e7e;
  transition: 0.3s;
}
.dark_mode_input:checked + .dark_mode_label svg.sun {
  fill: #7e7e7e;
}
.dark_mode_input:checked + .dark_mode_label svg.moon {
  fill: #fff;
}
