.container-fluid{
    background-color: white;
    /* padding: 10px; */
    font-size: 20px;
    font-weight: bold;
    text-align: center;
}

.navbar-toggle{
    background-color: #ffffff;
    border: 1px solid #ffffff;
    
}
.toggle-button{
    background-color: var(--title-color);
    color: var(--body-color);
    border: none;
    padding: 0.5rem 1rem;
    border-radius: 0.5rem;
    font-size: 1rem;
    font-weight: 500;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
  }