.bg-light{
    background-color: transparent;
       padding: 10px;
}
.text-center{
    color: rgb(154 154 154);
}
footer{
    color: black;
}
.footer-class{
    background-color: rgb(16, 16, 16);
}


@media screen and (max-width: 48em) {
    
}