.row{
    padding-left: 10%;
    padding-right: 10%;
    color: var(--allsubhed);
    font-size: 20px;
}
.border-solid{
    border: 1px solid var(--allsubhed);
}

.lead{
    color: var(--allsubhed);
}